setuptools
setuptools_scm
importlib-resources
Sphinx==3.2.1
rinohtype
bitstring>=3.1.6
sphinx_rtd_theme
sphinx_autodoc_typehints==1.4.0
recommonmark
pathlib
mkdocs
sphinx_bootstrap_theme
sphinx-markdown-parser
pymdown-extensions
m2r2
ytsphinx
python-dotenv
pycryptodomex
pyyaml
nbsphinx
pandoc
pandocfilters
yolk3k

